@page "/properties/details/{Id:int}"
@* Author: Johan Nelin *@
@using AutoMapper
@using BostadzPortalenClient.Services
@using BostadzPortalenClient.Pages.PropertyForSaleP
@inject IPropertyForSaleService propService
@inject IMapper mapper
@* @inject ApiService apiService *@


<div class="d-flex align-items-center">
	<div>
		<h3>@RealEstate.Address: @RealEstate.MunicipalityName</h3>
		<p>
			@RealEstate.TypeOfProperty, byggd @RealEstate.YearBuilt.
		</p>
		<p>
			Beskrivning: @RealEstate.Description
		</p>

		<table class="table">
			<thead>
				<tr>
					<th> Pris </th>
					<th> Hyra </th>
					<th> Års kostnad </th>
					<th> Bostads area </th>
					<th> Utomhus area </th>
					<th> Tillkommande area </th>
					<th> Antal rum </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> <DecimalToStringSEK inputDecimal="@Convert.ToDecimal(RealEstate.AskingPrice)"></DecimalToStringSEK> </td>
					<td> <DecimalToStringSEK inputDecimal="@Convert.ToDecimal(RealEstate.MonthlyFee)"></DecimalToStringSEK> </td>
					<td> <DecimalToStringSEK inputDecimal="@Convert.ToDecimal(RealEstate.YearlyOperatingCost)"></DecimalToStringSEK> </td>
					<td> <IntToString_m2 inputInt="@RealEstate.LivingArea"></IntToString_m2> </td>
					<td> <IntToString_m2 inputInt="@RealEstate.PlotArea"></IntToString_m2> </td>
					<td> <IntToString_m2 inputInt="@RealEstate.SupplementaryArea"></IntToString_m2> </td>
					<td> @RealEstate.NumberOfRooms </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="d-flex justify-content-center align-items-center col-6">
		@foreach (var picture in RealEstate.ImageUrls)
		{
			<img src="@picture" />
		}
	</div>
</div>


<div>
	<p> Mäklare: @RealEstate.Realtor.FirstName @RealEstate.Realtor.LastName <img src="/Pictures/@RealEstate.Realtor.ProfileImageUrl" /></p>
	<p> Mäklarbyrå: @RealEstate.RealEstateAgency.AgencyName <img src="~/Pictures/@RealEstate.RealEstateAgency.AgencyLogoUrl" /></p>
</div>

@code {
	[Parameter] public int Id { get; set; }
	private PropertyForSaleDetailsDTO RealEstate { get; set; }
	protected override async Task OnInitializedAsync()
	{


		var realEstate = await propService.GetPropertyDetailsDTOByIdAsync(Id); /* apiService.Get<PropertyForSaleDetailsDTO>($"PropertyForSale/GetPropertyByIdDetailsDTOAsync/{Id}"); */

		RealEstate = mapper.Map<PropertyForSaleDetailsDTO>(realEstate);
	}
}
