@page "/properties/details/{Id:int}"
@using Blazored.LocalStorage
@using BostadzPortalenClient.Components
@using BostadzPortalenClient.Providers
@using Microsoft.AspNetCore.Components.Authorization
@using BostadzPortalenClient.Components.XtoString
@* Author: Johan Nelin *@
@inject IPropertyForSaleService propService





<AuthorizeView>
    <Authorized>
        <RealtorPropertyDetails Id="Id"/>
    </Authorized>
    <NotAuthorized>
        <div class="d-flex align-items-center">
	<div>
		<h3>@realEstate.Address: @realEstate.MunicipalityName</h3>
		<p>
			@realEstate.PropertyTypeString, byggd @realEstate.YearBuilt.
		</p>
		<p>
			Beskrivning: @realEstate.Description
		</p>

		<table class="table">
			<tbody>
				<tr>
					<td> Pris: <DecimalToStringSEK inputDecimal="@Convert.ToDecimal(realEstate.AskingPrice)"></DecimalToStringSEK> </td>
				</tr>
				<tr>
					<td> Hyra: <DecimalToStringSEK inputDecimal="@Convert.ToDecimal(realEstate.MonthlyFee)"></DecimalToStringSEK> </td>
				</tr>
				<tr>
					<td> Års kostnad: <DecimalToStringSEK inputDecimal="@Convert.ToDecimal(realEstate.YearlyOperatingCost)"></DecimalToStringSEK> </td>
				</tr>
				<tr>
					<td> Bostads area: <IntToString_m2 inputInt="@realEstate.LivingArea"></IntToString_m2> </td>
				</tr>
				<tr>
					<td> Utomhus area: <IntToString_m2 inputInt="@realEstate.PlotArea"></IntToString_m2> </td>
				</tr>
				<tr>
					<td> Tillkommande area: <IntToString_m2 inputInt="@realEstate.SupplementaryArea"></IntToString_m2> </td>
				</tr>
				<tr>
					<td> Antal rum: @realEstate.NumberOfRooms </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="d-flex justify-content-center align-items-center col-6" width="500px">
		<Carousel>
			<CarouselItem Active="true">
				<Image src="@realEstate.ImageUrls.First().ImageUrl" />
			</CarouselItem>
			@foreach (var picture in realEstate.ImageUrls.Skip(1))
			{
				<CarouselItem >
					<Image src="@picture.ImageUrl" />
				</CarouselItem>
			}
		</Carousel>
	</div>
</div>

<div>
	<p> Mäklare: @realEstate.RealtorFullName <img src="@realEstate.RealtorPicture" width="100px"/></p>
	<p> Mäklarbyrå: @realEstate.AgencyName<img src="@realEstate.AgencyLogo" width="100px" /></p>
</div>
    </NotAuthorized>
</AuthorizeView>







@code {

	[Parameter] public int Id { get; set; }
	private PropertyForSaleDetailsDTO realEstate { get; set; }
	protected override async Task OnInitializedAsync()
	{
		realEstate = await propService.GetPropertyDetailsDTOByIdAsync(Id);
		//JN: Currently the DetailsDTO includes entire Realtor + Agency
		//JN: This will need to change to only include: (RealtorName + RealtorID + RealtorPicture) + (AgencyName + AgencyID + AgencyLogo)
		//JN: But it requires an nSwag rebuild so...
	}

}

   
