@page "/properties/details/{Id:int}"
@* Author: Johan Nelin *@

@using BostadzPortalenClient.Services
@using BostadzPortalenClient.Pages.PropertyForSaleP
@using BostadzPortalenClient.Components.XtoString
@inject IPropertyForSaleService propService
@inject IJSRuntime JS

<div class="d-flex align-items-center">
	<div>
		<h3>@realEstate.Address: @realEstate.MunicipalityName</h3>
		<p>
			@realEstate.TypeOfProperty, byggd @realEstate.YearBuilt.
		</p>
		<p>
			Beskrivning: @realEstate.Description
		</p>

		<table class="table">
			<tbody>
				<tr>
					<td> Pris: <DecimalToStringSEK inputDecimal="@Convert.ToDecimal(realEstate.AskingPrice)"></DecimalToStringSEK> </td>
				</tr>
				<tr>
					<td> Hyra: <DecimalToStringSEK inputDecimal="@Convert.ToDecimal(realEstate.MonthlyFee)"></DecimalToStringSEK> </td>
				</tr>
				<tr>
					<td> Års kostnad: <DecimalToStringSEK inputDecimal="@Convert.ToDecimal(realEstate.YearlyOperatingCost)"></DecimalToStringSEK> </td>
				</tr>
				<tr>
					<td> Bostads area: <IntToString_m2 inputInt="@realEstate.LivingArea"></IntToString_m2> </td>
				</tr>
				<tr>
					<td> Utomhus area: <IntToString_m2 inputInt="@realEstate.PlotArea"></IntToString_m2> </td>
				</tr>
				<tr>
					<td> Tillkommande area: <IntToString_m2 inputInt="@realEstate.SupplementaryArea"></IntToString_m2> </td>
				</tr>
				<tr>
					<td> Antal rum: @realEstate.NumberOfRooms </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="d-flex justify-content-center align-items-center col-6" width="500px">
		<Carousel>

			@* <CarouselItem Active="true">
				<Image src="/image1.jpg" />
			</CarouselItem>
			<CarouselItem >
				<Image src="/image2.jpg" />
			</CarouselItem> *@

			<CarouselItem Active="true">
				<Image src="@realEstate.ImageUrls.First().ImageUrl" />
			</CarouselItem>
			@foreach(var item in realEstate.ImageUrls.Skip(1))
			{
				<CarouselItem>
					<Image src="@item.ImageUrl" />
				</CarouselItem>
			}


			@* @{string pic = "";}
			@for (int i = 0; i < realEstate.ImageUrls.Count; i++)
			{
				pic = $"/image{i+1}.jpg";
				if(i==0){
					<CarouselItem Active="true">
						<Image src="@pic" />
					</CarouselItem>
				}
				else
				{
					<CarouselItem>
						<Image src="@pic" />
					</CarouselItem>
				}
			} *@
		</Carousel>
	</div>
</div>


<div>
	<p> Mäklare: @realEstate.RealtorFullName <img src="/Pictures/@realEstate.RealtorPicture" /></p>
	<p> Mäklarbyrå: @realEstate.AgencyName<img src="~/Pictures/@realEstate.AgencyLogo" /></p>
</div>



@code {
	[Parameter] public int Id { get; set; }
	private PropertyForSaleDetailsDTO realEstate { get; set; }
	protected override async Task OnInitializedAsync()
	{
		realEstate = await propService.GetPropertyDetailsDTOByIdAsync(Id);
		//JN: Currently the DetailsDTO includes entire Realtor + Agency
		//JN: This will need to change to only include: (RealtorName + RealtorID + RealtorPicture) + (AgencyName + AgencyID + AgencyLogo)
		//JN: But it requires an nSwag rebuild so...

		//JN: image-access
		
	}
	// private async Task SetImageUsingStreamAsync()
	// {
	// 	var imageStream = await propService.httpClient.GetImageStreamAsync();
	// 	var dotnetImageStream = new DotNetStreamReference(imageStream);
	// 	await JS.InvokeVoidAsync("setImageUsingStreaming", "image1", dotnetImageStream);
	// }
}
