@page "/realtor/details/{RealtorId}"
@using BostadzPortalenClient.Components.R_Estate
@inject IPropertyForSaleService propService
@inject IRealtorService realtorService
@inject IPropertyForSaleService propService
<!--Author: Kevin-->

<div class="container mt-4">

    @if (realtorInfo == null)
    {
        <p>Laddar mäklarinfo...</p>
    }
    else
    {
        <div class="row">
            <div class="col-3 d-flex justify-content-center align-items-start">
                <img src="@realtorInfo.RealtorImage" alt="Bild på @realtorInfo.FullName" class="img-fluid rounded" style="max-height: 300px;" />
            </div>

            <div class="col-4 d-flex justify-content-center align-items-center">
                <div>
                    <h2>@realtorInfo.FullName</h2>
                    <p><strong>Telefon:</strong> @realtorInfo.Phone</p>
                    <p><strong>Email:</strong> <a href="mailto:@realtorInfo.Email">@realtorInfo.Email</a></p>
                    <p><strong>Mäklarbyrå:</strong> @realtorInfo.AgencyName</p>
                </div>

            </div>
            <div class="col-5 d-flex justify-content-start align-items-center">
                <img src="@realtorInfo.AgencyLogoUrl" alt="Bild på @realtorInfo.AgencyName" class="img-fluid rounded" style="max-height: 200px;" />
            </div>
        </div>

        <hr />

        <div>
            <h3 class="mb-4 mt-4">Objekt till salu av @realtorInfo.FullName</h3>
            <div class="row">
                @if (realtorInfo.Properties == null)
                {
                    <BlazorBootstrap.Spinner />
                }
                else
                {
                    <div>
                        <Paginator_REstate properties="realtorInfo.Properties.ToList()" />
                    </div>
                }
            </div>
        </div>

    }
</div>




@code {
    [Parameter]
    public string RealtorId { get; set; }

    private RealtorInfoDTO? realtorInfo { get; set; }
    // private List<PropertyForSaleOverviewDTO> realEstates;

    protected override async Task OnInitializedAsync()
    {
        realtorInfo = await realtorService.GetRealtorInfoDTO(RealtorId);

        // foreach(var estate in realtorInfo.Properties)
        // {
        //     realEstates.Add(estate);
        // }
    }
}