@using BostadzPortalenClient.Components.XtoString
@inject NavigationManager Navigation;
@* Author: Kevin *@

@if (propertyList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th> Kommun </th>
                <th> Adress </th>
                <th> Pris </th>
                <th> Hyra </th>
                <th> Typ av bostad </th>
                <th> Bostads area </th>
                <th> Utomhus area </th>
                <th> Antal rum </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in propertyList)
            {
                <tr>

                    <td> @item.MunicipalityName </td>
                    <td> <a href="/properties/details/@item.PropertyForSaleId">@item.Address</a> </td>
                    <td> <DecimalToStringSEK inputDecimal="@Convert.ToDecimal(item.AskingPrice)"></DecimalToStringSEK> </td>
                    <td> <DecimalToStringSEK inputDecimal="@Convert.ToDecimal(item.MonthlyFee)"></DecimalToStringSEK>
                    </td>
                    <td> @item.PropertyTypeString </td>
                    <td> <IntToString_m2 inputInt="@item.LivingArea"></IntToString_m2> </td>
                    <td> <IntToString_m2 inputInt="@item.PlotArea"></IntToString_m2> </td>
                    <td> @item.NumberOfRooms </td>
                    @* <td><a href="/properties/details/@item.PropertyForSaleId">Detaljer</a></td> *@
                </tr>
            }
        </tbody>
    </table>
}



@code {
    [Parameter] public IEnumerable<PropertyForSaleOverviewDTO> propertyList { get; set; }
    [Parameter]
    public string? RealtorId { get; set; }

    private void NavigateToDetails(int id) => Navigation.NavigateTo($"/properties/details/{id}");

  


}
