@page "/agency/details/{AgencyId:int}"
@using BostadzPortalenClient.Components.Realtor
@inject IAgencyService agencyService
@inject NavigationManager navigationManager
@using BlazorBootstrap
<!--Author: Kevin-->

<div class="container mt-4">
    @if (agencyDetails == null)
    {
        <Spinner />
    }
    else
    {
        <div class="row">
            <div class="col-4 d-flex flex-column mt-2" style="height: 100%;">
                <div class="flex-grow-1">
                    <img src="@agencyDetails.AgencyLogoUrl" alt="@agencyDetails.AgencyName" class="img-fluid mb-3" style="max-height: 150px;" />
                </div>
            </div>

            <div class="col-5 d-flex justify-content-center align-items-center">
                <p>@agencyDetails.AgencyDescription</p>
            </div>
            <hr divider />
        </div>

        
        <div class="row mt-5">
            <div class="col-12">
                <h2>Våra mäklare</h2>
                <hr divider />
            </div>

            @foreach (var realtor in agencyDetails.RealtorInfo)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="@realtor.ProfileImageUrl" alt="@realtor.FullName" class="card-img-top" style="height: 300px; object-fit: cover;" />
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title mb-3">@realtor.FullName</h5>
                            <ContactRealtor Email="@realtor.Email" PhoneNumber="@realtor.Phone"/>
                            <p>Antal objekt till salu: <strong>@realtor.PropertiesForSale.Count()</strong></p>
                            <button class="btn btn-primary mt-auto"
                                    @onclick="@(() => navigationManager.NavigateTo($"/realtor/details/{realtor.RealtorId}"))">
                                Visa objekt
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>


 
@code {
    [Parameter]
    public int AgencyId { get; set; }
    private RealEstateAgencyDetailsDTO agencyDetails;    

    protected override async Task OnInitializedAsync()
    {
        agencyDetails = await agencyService.GetAgencyByIdAsync(AgencyId);          
    }
}
