@page "/Agency/CreateAgency"
@inject IClient httpClient
@inject NavigationManager navManager
@inject IAgencyService Agencyservice

<h3>Lägg till ny mäklarbyrå</h3>

@* Author: Oscar *@
@if (!string.IsNullOrEmpty(message))
{
    <div class="alert @AlertClass">
        <p>@message</p>
    </div>
}

<div class="d-flex justify-content-center align-items-center col-6">
    <div class="card w-100">
        <div class="card-body col-12 d-flex justify-content-center align-items-center">
            <div class="col-8">
                <EditForm Model="AgencyModel" OnValidSubmit="HandleAgencyRegistration">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label for="agencyName">Namn på mäklarbyrå</label>
                        <InputText class="form-control" @bind-Value="AgencyModel.AgencyName" />
                        <ValidationMessage For="@(() => AgencyModel.AgencyName)" />
                    </div>

                    <div class="form-group">
                        <label for="agencyDescription">Beskrivning</label>
                        <InputTextArea class="form-control" @bind-Value="AgencyModel.AgencyDescription" rows="5" />
                        <ValidationMessage For="@(() => AgencyModel.AgencyDescription)" />
                    </div>

                    <div class="form-group">
                        <label for="agencyLogoUrl">Byråns logotyp (url)</label>
                        <InputText class="form-control" @bind-Value="AgencyModel.AgencyLogoUrl" />
                        <ValidationMessage For="@(() => AgencyModel.AgencyLogoUrl)" />
                    </div>

                    <button type="submit" class="btn main-btn btn-block mt-3">Lägg till</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    AgencyDTO AgencyModel = new AgencyDTO();
    private string message = string.Empty;
    private string AlertClass;

    private async Task HandleAgencyRegistration()
    {
        var success = await Agencyservice.AddAgency(AgencyModel);

        if (success)
        {
            message = "Agency created successfully.";
            AlertClass = "alert-success"; // Bootstrap style for success
        }
        else
        {
            message = "Failed to create agency. Please try again.";
            AlertClass = "alert-danger"; // Bootstrap style for error
        }
    }
}