@* Author: Johan Nelin *@
@using BlazorBootstrap
@using BostadzPortalenClient.Pages.R_EstatePge
@using BostadzPortalenClient.Components.XtoString

<div class="container mt-4">
    <!-- Övre sektion -->
    <div class="row">
        <div class="col-4 d-flex flex-column mt-2" style="height: 100%;">
            <div class="flex-grow-1">
                <h3>@realEstate.Address: @realEstate.MunicipalityName</h3>
                <p>
                    @realEstate.PropertyTypeString, byggd @realEstate.YearBuilt.
                </p>
                <hr divider />
                <div />
                <div class="flex-grow-1 overflow-auto">
                    <table class="table">
                        <tbody>
                            <tr>
                                <TableToNull isItInt="true" text="Bostads area" valueInt="realEstate.LivingArea"></TableToNull>
                            </tr>
                            <tr>
                                <TableToNull isItInt="true" text="Utomhus area" valueInt="realEstate.PlotArea"></TableToNull>
                            </tr>
                            <tr>
                                <TableToNull isItInt="true" text="Tillkommande area" valueInt="realEstate.SupplementaryArea"></TableToNull>
                            </tr>
                            <tr>
                                <td class="pe-3">Antal rum:</td>
                                <td>@realEstate.NumberOfRooms</td>
                            </tr>
                            <tr>
                                <TableToNull isItInt="false" text="Pris" valueDouble="realEstate.AskingPrice"></TableToNull>
                            </tr>
                            <tr>
                                <TableToNull isItInt="false" text="Hyra" valueDouble="realEstate.MonthlyFee"></TableToNull>
                            </tr>
                            <tr>
                                <TableToNull isItInt="false" text="Års kostnad" valueDouble="realEstate.YearlyOperatingCost"></TableToNull>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-8 d-flex ">
            <Carousel>
                <CarouselItem Active="true">
                    <Image src="@realEstate.ImageUrls.First().ImageUrl" style="height:400px; border-radius: 15px;" />
                </CarouselItem>
                @foreach (var picture in realEstate.ImageUrls.Skip(1))
                {
                    <CarouselItem>
                        <Image src="@picture.ImageUrl" style="height:400px; border-radius: 15px;" />
                    </CarouselItem>
                }
            </Carousel>
        </div>
    </div>

    <!-- Nedre sektion -->
    <div class="row mt-5">
        <div class="col-6 pe-3">
            <h3>Beskrivning:</h3>
            <p class="description" style="text-align: justify;">@realEstate.Description</p>
        </div>

        <div class="col-6 ms-auto">
            <div class="ms-4">
                <h3 class="mb-4 mt-2">Kontakta mäklare: </h3>
                <hr class="divider justify-content-start" style="width: 70%;" />
                <RealtorAndAgencyDisplayCard realEstate="realEstate"></RealtorAndAgencyDisplayCard>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter] public PropertyForSaleDetailsDTO realEstate { get; set; }
}
