<!--Author: Kevin -> Johans Copy-->
@using BostadzPortalenClient.Components.XtoString

<div class="agency-card d-flex align-items-center shadow-sm mb-4 rounded p-3">
    <div class="image-container col-4">
        <NavLink class="card-img-top" href="@GetAgencyLink()">
            <img src="@agencyDetails.AgencyLogoUrl" class="card-img-top" alt="@agencyDetails.AgencyName" style="max-width: 250px; border-radius: 15px; max-height: 250px" />
        </NavLink>
    </div>
    <div class="agency-details ms-3 col-6">
        <h5>
            @agencyDetails.AgencyName
        </h5>
        <p><strong>Beskrivning:</strong> @agencyDetails.AgencyDescription</p>
        <p><strong>Antal Mäklare:</strong> @agencyDetails.RealtorInfo.Count()</p>
        <hr />
    </div>
</div>

@code {
    [Parameter] public RealEstateAgencyDetailsDTO agencyDetails { get; set; }
    public string linkId { get; set; }

    private string GetAgencyLink()
    {
        linkId = $"/agency/details/{agencyDetails.RealEstateAgencyId}";
        return linkId;
    }
}
